<apex:page controller="EventListController" tabStyle="Event_Registration__c">
    <apex:form >
        <apex:pageBlock title="Registrations">
            <apex:pageBlockTable value="{!MyRegistrations}" var="objReg">
                <apex:column >
                    <apex:facet name="header"><b>Event Name</b></apex:facet>
                    {!objReg.Event__r.Name}
                </apex:column>
                <apex:column >
                    <apex:facet name="header"><b>Payment Amount</b></apex:facet>
                    {!objReg.Payment_Amount__c}
                </apex:column>
                <apex:column >
                    <apex:facet name="header"><b>Registered Date</b></apex:facet>
                    {!objReg.Registered_Date__c}
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlock>
        
    </apex:form>
</apex:page>