<apex:page Controller="EventRegistrationAtEventController" showHeader="false" cache="false" >
    <apex:slds />
    <apex:form >
        <apex:pageBlock title="Event Registration">
            <apex:pageMessages id="msg"/>
            <apex:pageBlockSection title="Registrant Details" columns="2" collapsible="false">
                <apex:inputText label="First Name"
                                value="{!firstName}" required="true">
                    <span class="slds-form-element__label slds-required" title="required">*</span>
                </apex:inputText>

                <apex:inputText label="Last Name"
                                value="{!lastName}" required="true">
                    <span class="slds-form-element__label slds-required" title="required">*</span>
                </apex:inputText>

                <apex:inputText label="Email"
                                value="{!mailId}" required="true">
                    <span class="slds-form-element__label slds-required" title="required">*</span>
                </apex:inputText>

                <apex:inputText label="Event Name"
                                value="{!eventName}" required="true">
                    <span class="slds-form-element__label slds-required" title="required">*</span>
                </apex:inputText> 
                    
            </apex:pageBlockSection>
            
            <div align="center" draggable="false" >
                <apex:commandButton action="{!validateInputData}" value="Submit" />
                <apex:commandButton action="{!validateInputData}" value="Save & New" oncomplete="console.log('done'); document.location.reload();" />
            </div>
            
        </apex:pageBlock>
    </apex:form>
</apex:page>