.THIS.eventDataContainerReadOnly {
    background-color: #EAEAEA;
    pointer-events: none;
}

.THIS.roomSectionContainer {
    width: 100%;
    text-align: center;
}

.THIS.createEventHeaderContainer {
}

.THIS .createEventHeader, .THIS.editEventsBtnContainer, .THIS.eventsDetailsFormContainer, .THIS.finisheEventCreationBtnContainer {
    max-width: 100%;
}

.THIS .eventDMLSuccessMessageContainer {
    background: #0070d2;
}

@media only screen and (max-width: 768px) {
    .THIS.eventDataContainerReadOnly {
        background-color: #EAEAEA;
        pointer-events: none;
    }
    
    .THIS.roomSectionContainer {
        width: 90%;
        text-align: center;
    }
    
    .THIS.createEventHeaderContainer {
    }
    
    .THIS .createEventHeader, .THIS.editEventsBtnContainer, .THIS.eventsDetailsFormContainer, .THIS.finisheEventCreationBtnContainer {
        max-width: 90%;
        margin: 30px auto;
    }
}